@page "/"
@using BlazorServer.Services
@inject EmpleadoService empleadoService
<!--
    Para usar los servisos usados  pones inject y tienes que usarlos dentro de -> code
-->
@code{
    
}
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
