@page "/listUnidades"
@using BlazorServer.Models
@inject UnidadService UnidadService

<h3>Catálogo de Unidades</h3>

<TablaCrudGenerica TItem="Unidad"
                   Items="listaUnidades"
                   OnCreate="AbrirModalCrear"
                   OnEdit="AbrirModalEditar"
                   OnView="AbrirModalVer"
                   OnDelete="AbrirModalEliminar">
    
    <Cabecera>
        <th>Id</th>
        <th>Nombre</th>
        <th>Tipo de unidad</th>
    </Cabecera>
    
    <Filas Context="unidad">
        <td>@unidad.Id</td>
        <td>@unidad.Nombre</td>
        <td>@unidad.TipoUnidad!.Nombre</td>
    </Filas>
</TablaCrudGenerica>



@code {
    private Modal modal_Create = new();
    private Modal modal_Read = new();
    private Modal modal_Update = new();
    private Modal modal_Delete = new();
    
    private List<Unidad> listaUnidades = new();
    private Unidad? unidadSeleccionado;

    protected override async Task OnInitializedAsync()
    {
        listaUnidades = await UnidadService.GetUnidades() ?? new();
    }

    public async Task AbrirModalCrear()
    {
        unidadSeleccionado = new Unidad();
        await modal_Create.ShowAsync();
    }

    public async Task AbrirModalEditar(Unidad unidad)
    {
        unidadSeleccionado = unidad;
        await modal_Update.ShowAsync();
    }

    public async Task AbrirModalVer(Unidad unidad)
    {
        unidadSeleccionado = unidad;
        await modal_Read.ShowAsync();
    }

    public async Task AbrirModalEliminar(Unidad unidad)
    {
        unidadSeleccionado = unidad;
        await modal_Delete.ShowAsync();
    }
}